@*@model int;

@if(Model >=0)
{
            <div class="cart-items">
                <a asp-controller="ShoppingCart" asp-action="Index" class="main-btn">
                          <i class="lni lni-cart"></i>
                          <span class="total-items">2</span>
                </a>                           
            </div>
}*@