@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_adminPortal.cshtml";
   
}

<h1>@localizer["welcome"]</h1>
