@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="row bg-secondary ">
<div class="text-center mt-5" style="margin-bottom:300px;">
    <h2 class="text-capitalize ">@ViewData["Title"]</h2>
@{
   <p class="text-capitalize  mt-3 text-light" >
        Please check your email to confirm your account.
</p>
}

</div>
</div>

